#https://clang.llvm.org/extra/clang-tidy/#id2
Checks: |
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-use-enum-class,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-init-variables,
  modernize-*,
  -modernize-macro-to-enum,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-avoid-c-style-cast,
  -modernize-avoid-variadic-functions,
  performance-*,
  
